body {background-color: rgb(175, 255, 178);}
button {background-color: rgb(226, 230, 165)}
input {background-color: rgb(226, 230, 165)}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
}

#role-toggle {
  margin-left: 10px;
}
#snack-display {
  border: 1px solid;
  margin-left: 10px;
}
#snack-display td {
  border: 1px solid;
  height: 85px;
  width: 100px;
  text-align: center;
  margin: auto;
}
#snack-display button {
  margin: auto;
}
#dispenser div {
  height: 70px;
  width: 200px;
  border: 1px solid;
  margin-left: 10px;
  background-color: rgb(226, 230, 165);
  padding: 5px;
}
#cash-drawer table {
  border: 1px solid;
  margin: 10px;
}
#cash-drawer td {
  border: 1px solid;
  width: 110px;
}

#return-money {margin-left: 10px;}

button {margin: 2px;}
#cash-drawer table input {
  width: 50px;
}